<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gsession-php/public
    
    # ファイルやディレクトリが存在しない場合index.phpにリダイレクト
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>